/* Calendar display ---------------------------------------------- */

.calendar{
    text-align: center;
}

.calendarTop{
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #5C7080;
}

.calendarDays{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selectedDay{
    background-color: #BFCCD6;
}

.notSelectedDay:hover{
    background-color: #BFCCD6;
}

.calendarDay{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}